.Navbar {
  display: flex;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);

  position: fixed;
  top: 0px;
  left: 0px;

  padding: 5px;

  justify-content: space-between;
  align-items: center;

  height: fit-content;
  width: 100%;

  transition: 0.3s;
  z-index: 50;

  .Image_Container {
    border: 1px solid white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;

    overflow: hidden;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 40px;
    width: 40px;

    .Logo {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  .Navlink_Container {
    display: flex;

    gap: 20px;
    padding: 5px;

    justify-content: space-evenly;
    align-items: center;

    height: 100%;
    width: fit-content;

    .Navlink {
      font-size: 16x;
      font-weight: 300;
      cursor: pointer;
    }
  }

  .Span {
    display: none;
    cursor: pointer;
    z-index: 200;
    // color: white;
  }

  //   Mobile Menu Start
  .Mobile_Menu {
    display: flex;
    flex-direction: column;
    background-color: #202123;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
      rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;

    height: 100vh;
    width: 300px;

    z-index: 100;
    transition: 0.5s;
    transform: translateX(100vw);

    .ListGroup {
      background-color: #202123;
      margin-top: 10px;

      justify-content: space-evenly;
      align-items: center;

      gap: 1px;

      height: 100%;
      width: 100%;

      .ListGroupItem {
        color: white;
        background-color: #202123;
        border: none;
        // border: 1px solid rgba(255, 255, 255, .1);

        display: flex;
        align-items: center;
        justify-content: flex-start;

        gap: 10px;

        font-size: 20px;

        .Navlink_Icon {
          width: 25px;
          height: 25px;
        }
      }
    }
  }
  //   Mobile Menu End

  .Reveal {
    transform: translateY(0%);
  }
}
// Navbar End

::-webkit-scrollbar {
  width: 0px;
}

// Media Queries Start
@media only screen and (max-width: 996px) {
  .Navbar {
    .Navlink_Container {
      display: none;
    }
    .Span {
      display: block;
    }
  }
}
@media only screen and (max-width: 480px) {
  .Navbar {
    padding: 10px;
    .Mobile_Menu {
      width: 100%;
    }
  }
}
@media only screen and (max-width: 320px) {
  .Navbar {
    padding: 10px;
    .Mobile_Menu {
      height: 100vh;
      .ListGroup {
        display: grid;
        grid-template-columns: 1fr 1fr;
      }
    }
  }
}
// Media Queries End
