.Page {
  display: flex;
  flex-direction: column;
  color: white;

  padding: 0px;
  gap: 100px;

  justify-content: center;
  align-items: center;

  height: fit-content;
  width: 100%;

  .Poster_Container {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    width: 800px;
    height: fit-content;
  }
}

// Media Queries Start
@media only screen and (max-width: 1555px) {
  .Page {
    .Section {
      .Content_Container {
        .About_Container {
          .Brand {
            font-size: 40px;
          }
          br {
            display: none;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 1030px) {
  .Page {
    .Section {
      .Content_Container {
        .About_Container {
          .Brand {
            font-size: 40px;
          }
          .Description {
            font-size: 18px;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 996px) {
  .Page {
    .Section {
      height: fit-content;
      .Content_Container {
        .Image_Container {
          height: 300px;
          width: 300px;
        }
        .About_Container {
          width: 100%;
          align-items: center;
          .Brand {
            font-size: 30px;
            text-align: center;
          }
          .Description {
            font-size: 15px;
            text-align: center;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 810px) {
  .Page {
    .Poster_Container {
      width: 100% ;
    }
  }
}
@media only screen and (max-width: 360px) {
  .Page {
    .Section {
      .Content_Container {
        \ .Image_Container {
          height: 250px;
          width: 250px;
        }

        .About_Container {
          .Question {
            font-size: 12px;
          }
          .Brand {
            font-size: 25px;
          }
        }
      }
    }
  }
}
// Media Queries End
