.Section {
  display: flex;
  flex-direction: column;

  position: relative;

  justify-content: center;
  align-items: center;

  gap: 20px;

  padding: 5px;
  padding-top: 80px;
  padding-bottom: 80px;
  overflow: hidden;

  height: fit-content;
  width: 100%;

  .Section_Title_Container {
    display: flex;
    flex-direction: column;

    padding: 0px;
    gap: 10px;

    justify-content: center;
    align-items: center;

    height: fit-content;
    width: 100%;
    .Question {
      font-size: 18px;
      font-weight: 100;
      font-style: bold;
      transition: 0.3s;
    }

    .Section_Title {
      font-size: 50px;
      font-weight: 100;
      font-style: bold;
      transition: 0.3s;
    }
  }

  .Timeline_Right {
    display: none;
  }
}
// Media Queries Start
@media only screen and (max-width: 996px) {
  .Section {
    .Section_Title_Container {
      .Section_Title {
        font-size: 30px;
      }
    }
  }
}

@media only screen and (max-width: 650px) {
  .Section {
    align-items: flex-start;
    .Timeline_Alternate {
      display: none;
    }
    .Timeline_Right {
      display: flex;
    }
  }
}

@media only screen and (max-width: 360px) {
  .Section {
    .Section_Title_Container {
      .Section_Title {
        font-size: 25px;
      }
    }
  }
}
// Media Queries End
