.Section {
  display: flex;
  flex-direction: column;
  color: white;

  justify-content: center;
  align-items: center;

  height: 100vh;
  width: 100%;

  .Content_Container {
    display: flex;
    flex-direction: column;

    padding: 5px;
    gap: 30px;

    justify-content: center;
    align-items: center;

    height: fit-content;
    width: 800px;

    transition: 0.5s;

    .Title {
      color: white;
      font-family: "Nunito", sans-serif;
      font-size: 50px;
      font-weight: 200;
      text-align: center;
      transition: 0.5s;
    }

    .Description {
      color: white;
      font-family: "Nunito", sans-serif;
      font-size: 18px;
      font-weight: 200;
      text-align: center;
      transition: 0.5s;
    }


    .Form {
      display: flex;
      flex-direction: column;

      gap: 10px;

      justify-content: space-evenly;
      align-items: center;

      height: 100%;
      width: 100%;

      .Name__Eamil {
        border: none;
        display: flex;

        gap: 20px;

        justify-content: space-between;
        align-items: center;

        height: fit-content;
        width: 100%;

        .Input {
          box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
            rgba(0, 0, 0, 0.23) 0px 3px 6px;
          padding: 5px;
          background-color: rgba(0, 0, 0, 0.5);
          outline: none;
          border: none;
          width: 50%;

          color: #319795;
          font-size: 18px;
          font-weight: 300;
          text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.96);
        }
      }

      .Input {
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
          rgba(0, 0, 0, 0.23) 0px 3px 6px;
        padding: 5px;
        background-color: rgba(0, 0, 0, 0.5);
        outline: none;
        border: none;
        width: 100%;

        color: #319795;
        font-size: 18px;
        font-weight: 300;

        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.96);
      }
      ::-webkit-input-placeholder {
        color: grey;
        font-size: 18px;
        font-weight: 300;

        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.96);
      }

      .Submit_Button {
        border: 2px solid black;
        display: flex;

        justify-content: center;
        align-items: center;

        padding: 5px 20px;
        margin-left: 0px;

        background-color: rgba(0, 0, 0, 0.5);

        color: white  ;
        font-size: 16px;
      }
    }
  }
}

// Media Queries Start

@media only screen and (max-width: 810px) {
  .Section {
    .Content_Container {
      width: 100%;
    }
  }
}

@media only screen and (max-width: 550px) {
  .Section {
    .Content_Container {
      .Title {
        font-size: 35px;
      }
      .Description {
        font-size: 15px;
      }
    }
  }
}

@media only screen and (max-width: 320px) {
  .Section {
    .Content_Container {
      .Description {
        font-size: 13px;
      }
    }
  }
}

// Media Queries End
