.Section {
  display: flex;
  flex-direction: column;
  color: white;

  position: relative;

  justify-content: center;
  align-items: left;

  gap: 20px;

  padding: 5px;
  padding-top: 80px;
  padding-bottom: 80px;
  overflow: hidden;

  height: fit-content;
  width: 100%;

  .Section_Title_Container {
    display: flex;
    flex-direction: column;

    padding: 0px;
    gap: 10px;

    justify-content: center;
    align-items: center;

    height: fit-content;
    width: 100%;

    .Question {
      font-size: 18px;
      font-weight: 100;
      font-style: bold;
      transition: 0.3s;
    }

    .Section_Title {
      font-size: 30px;
      font-weight: 100;
      font-style: bold;
      transition: 0.3s;
    }
  }

  .Content_Container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;

    justify-content: space-around;
    align-items: center;

    height: 100%;
    width: 100%;

    .Card {
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      background-color: #292b2f;
      border-radius: 5px;

      display: flex;
      flex-direction: column;

      padding: 10px;
      // gap: 10px;

      justify-content: center;
      align-items: left;

      margin: auto;

      position: relative;
      cursor: pointer;

      height: 250px;
      width: 100%;

      transition: 0.3s;

      .Icon {
        height: 55px;
        width: 55px;
      }

      .Title {
        color: white;
        font-size: 18px;
        font-weight: 500;
      }

      .Description {
        color: white;
        font-size: 13.5px;
        font-weight: 100;
      }
    }

    .Card:is(:hover, :focus) {
      transform: translateY(-5px);
    }
  }
}
