.App {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;

  .Back_To_Top_Icon {
    position: fixed;
    bottom: 50px;
    right: 5px;
    z-index: 20;
    cursor: pointer;

    color: black;

    transition: 1.5s;
    transform: translateX(100vh);
  }

  .Show_Back_To_Top {
    transform: translateX(0%);
  }
}
